*{
    margin: 0px;
    padding: 0px;
   
}

html{
    scroll-behavior: smooth;
}

.logo
{
    margin: 7px 4px;
}

.logo img{
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    height: 12vh;



    
    
    
}


.nav-list{
   
    width: 70%;  
    display: flex;  
    justify-content: center;
    align-items: center;

}

.nav-list li{
    list-style: none;
    margin: 2px 20px;
    padding: 2px 20px;
}

.nav-list li a{
    text-decoration: none;
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
    font-size: 2rem ;
}

.nav-list li a:hover{
    color:#25CCF7
}

/* underline hover */

.underline::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #dfe6e9;
    transition: width .3s;
}

.underline:hover::after{
    width: 100%;
    transition: width .3s;
    


}




.rightNav{
    width: 50%;    
  
    text-align: right;
 
}

.rightNav input{
    margin: 30px 10px;
    padding:10px 10px;
    border-radius: 9px;
    outline: none;


}

.background{
    background: rgba(0, 0, 0, 0.7) url(../bg.jpg);
    background-blend-mode: darken;
    background-size: cover;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    height: 100%;
}

.text-big {
    font-family: 'PT Sans', sans-serif;
    font-size: 33px;
    color: whitesmoke;
    margin:5px 15px;

}

.text-small {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    color: whitesmoke;
    margin:0px 15px;
    padding: 4px 2px;

}

.btn
{
    margin:30px 10px;
    padding:10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: #3B3B98;
    color:whitesmoke;
    border-radius: 10px;
    border:3px solid rgb(95, 95, 241)
}
.btn:hover{
    cursor: pointer;
    background-color: #1B9CFC;
    color:black;

}



.secondHalf img{
    margin: 4px 40px;
    padding: 5px;
    border:2px solid wheat; 
   border-radius: 40px;

}


.secRight{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;

}

.sectionTag{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.sectionTag::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background:black;
    transition: width .3s;
}

.sectionTag:hover::after{
    width: 35%;
    transition: width .3s;
}
    

.sectionSubtag{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px 0px;
    padding: 3px 0px;
}

.thumbnail{

    margin: 3px 50px;
    
    
}

.thumbnail img{
    border: 2px solid wheat;
    padding: 3px 5px;
    border-radius: 40px ;
}



.secLeft{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;

}


section .contact{
    height: 500px;
    background-color: aquamarine;

    
}

.contact{
    background-color: #dfe6e9;
    height: 1000px;
}

.contact h4{
    text-align: center;
    padding: 20px 5px;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}


.form-container{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 30px;
    width: 500px;
    margin:20px 20px;
    padding: 20px 80px;
    font-size: 25px;
    border-radius: 10px;
    outline: none; 
}

textarea{
    height: 120px;
    width: 630px;
    border-radius:10px;
    padding: 10px 20px;
    font-size: 25px;
    outline: none; 
    margin:20px 20px;
}

.btn-submit{
    margin: 2px 630px;
    padding: 10px 25px;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    border-radius: 10px;
    background-color: #2e46a8;
    color: whitesmoke;
    outline: none;
}

.btn-submit:hover{
    cursor: pointer;
    background-color: #4961c5;
}

footer{
    height: 3vh;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size:1.5rem;
    padding: 30px 10px;
    background-color: #2f3640;
    color: whitesmoke;

}

